<div class="grid gap-4 grid-cols-1 md:grid-cols-2">
  <div class="flex flex-col">
    <h1 class="text-white my-2 font-normal text-xl">Потренируемся?</h1>
    <lib-shared-item-card
      [name]="'Силовые и кардио тренировки'"
      [imageUrl]="'../assets/images/workouts-main.jpg'"
      (click)="navigate('workouts')"
    />
  </div>

  <div class="flex flex-col">
    <h1 class="text-white my-2 font-normal text-xl">Ваш список покупок</h1>
    <lib-shared-item-card
      [name]="'Список покупок'"
      [imageUrl]="'../assets/images/list-main.jpg'"
      (click)="navigate('shopping-list')"
    />
  </div>

  <div class="flex flex-col">
    <h1 class="text-white my-2 font-normal text-xl">Проголодались?</h1>
    <lib-shared-item-card
      [name]="'Вкусная и здоровая еда'"
      [imageUrl]="'../assets/images/food-main.jpeg'"
      (click)="navigate('food')"
    />
  </div>
</div>
