<div class="header">
  <div class="header-container">
    <div class="calories">
      <span>Kалории: 1522</span>
      <span>Белки: 121</span>
      <span>Жиры: 85</span>
      <span>Углеводы: 245</span>
      <img
        class="ms-2"
        src="../assets/icons/plus.svg"
        title="plus"
        alt="plus"
      />
    </div>
    <button class="timer">Таймер</button>
  </div>
</div>

<div class="flex justify-center">
  <div class="max-w-screen-xl">
    <router-outlet></router-outlet>
    
    <button *ngIf="backBtnVisible" class="p-2 mt-4 text-white rounded-md bg-dark-grey shadow-lg flex" (click)="navigateByUrl('')">
      <img src="../assets/icons/arrow-back.svg" alt="arrow-back" title="arrow-back">
      <span>Назад</span>
    </button>
  </div>
</div>
